# See https://help.github.com/ignore-files/ for more about ignoring files.
*.ipa
*.apk

.DS_Store

# expo
.expo/

# dependencies
/node_modules
/.vscode
/.idea

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Deployment stuff
.creds/*
